button{
    background-color: #f8f9fa;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;   
    width: 100%; 
}

.divider {
    width: 100%; /* Asegura que la línea cubra todo el ancho */
    height: 1px; /* Define el grosor de la línea */
    background-color: #ccc; /* Color de la línea */
    border: none; /* Elimina bordes predeterminados */
    margin: 10px 0; /* Espaciado superior e inferior */
}