<div style="display: flex; flex-direction: column; align-items: center; height: 100%;">
    <button (click)="show()">Alumnos</button>
    <button (click)="show()">Materias</button>
    <hr class="divider">
    <button (click)="show()">Alumnos</button>
    <button (click)="show()">Asistencias</button>
    <button (click)="show()">Participaciones</button>
    <button (click)="show()">Tareas</button>
    <button (click)="show()">Parciales</button>
    <button (click)="show()">Examenes</button>
</div>